---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('blogPosts');
    const series = [...new Set(posts.filter(post => post.data.series).map(post => post.data.series))];
    console.log(series);
    return series.map(s => ({
        params: {
            series:s 
        }
    }))
}

const posts = await getCollection('blogPosts');
const postsInSeries = posts.filter(post => post.data.series === Astro.params.series);

---

<h1 class="text-3xl lg:text-5xl lg:pl-0 font-bold">{Astro.params.series}</h1>
<ul>
    {postsInSeries.map(post => (
        <li>
            <a href={`/${post.data.slug}`}>{post.data.title}</a>
            <br />
            {post.data.tags.map(tag => (
                <text><span>{tag}</span> </text>
            ))}
            <br />
            {post.data.date}
            <br />
            <br />
        </li>
    ))}
</ul>