---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('blogPosts');
    const series = [...new Set(posts.filter(post => post.data.series).map(post => post.data.series))];
    return series.map(s => ({
        params: {
            series:s.id
        },
        props: {
            seriesName: s.name
        }
    }))
}

const posts = await getCollection('blogPosts', (post) => post.data.series?.id === Astro.params.series);
---

<h1 class="text-3xl lg:text-5xl lg:pl-0 font-bold">{Astro.props.seriesName}</h1>
<ul>
    {posts.map(post => (
        <li>
            <a href={`/${post.data.slug}`}>{post.data.title}</a>
            <br />
            {post.data.tags.map(tag => (
                <text><span>{tag}</span> </text>
            ))}
            <br />
            {post.data.date}
            <br />
            <br />
        </li>
    ))}
</ul>