---
import Layout from '../layouts/Default.astro';
import { getCollection } from 'astro:content';
import Pagination from "../components/Pagination.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export async function getStaticPaths({ paginate }) {
	const posts = await getCollection('blogPosts');
	return paginate(posts, {
		pageSize: 10,
	})
}

const { page } = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div>
		<ul>
			{page.data.map(post => (
				<li>
					<a href={`/${post.data.slug}`}>{post.data.title}</a>
					<br />
					{post.data.tags.map(tag => (
						<text><a href={`tag/${tag}`}>{tag}</a> </text>
					))}
					<br />
					{post.data.series && (
						<text><a href={`series/${post.data.series}`}>{post.data.series}</a> </text>
						<br />
					)}
					{post.data.date}
					<br />
					<br />
				</li>
			))}
		</ul>
		{page.lastPage > 1 ? (
			<div class="mt-4">
				<Pagination length={page.lastPage}
					currentUrl={page.url.current}
					currentPage={page.currentPage}
					firstUrl={`/`}
					prevUrl={page.url.prev}
					nextUrl={page.url.next}
					lastUrl={`/${page.lastPage}`}
				/>
			</div>
		) : null}
	</div>
</Layout>