---
import { getCollection } from 'astro:content';
import Pagination from "../components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
	const posts = await getCollection('blogPosts');
	return paginate(posts, {
		pageSize: 5,
	})
}

const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];

console.log(page)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head> 
	<body>
		<h1>Astro</h1>
		<ul>
			{page.data.map(post => (
				<li>
					<a href={`/${post.data.slug}`}>{post.data.title}</a>
					<br />
					{post.data.tags.map(tag => (
						<text><a href={`tag/${tag}`}>{tag}</a> </text>
					))}
					<br />
					{post.data.series && (
						<text><a href={`series/${post.data.series}`}>{post.data.series}</a> </text>
						<br />
					)}
					{post.data.date}
					<br />
					<br />
				</li>
			))}
		</ul>
		{page.lastPage !== page.firstPage ? (
			<div class="mt-4">
				<Pagination length={page.lastPage}
					currentUrl={page.url.current}
					currentPage={page.currentPage}
					firstUrl={`/${firstPath}`}
					prevUrl={page.url.prev}
					nextUrl={page.url.next}
					lastUrl={`/${firstPath}/${page.lastPage}`}
				/>
			</div>
		) : null}
	</body>
</html>
