---
import Layout from '../layouts/Default.astro';
import { getCollection } from 'astro:content';
import Pagination from "../components/Pagination.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import PostLink from "../components/PostLink.astro";
import type {Post} from "../types";
import type {Page} from "astro";
import Intro from "../components/Intro.astro";

interface Props {
	page: Page<Post>;
}

export const getStaticPaths = (async ({ paginate } : { paginate:any }) => {
	const posts = await getCollection('blogPosts');
	return paginate(posts.map(x => x.data), {
		pageSize: 10,
	})
})

const { page } = Astro.props as Props
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	{page.currentPage === 1 && (
		<Intro />
	)}
	<div>
		<ul>
			{page.data.map(post => (
				<li class="py-7 border-b md:py-8">
					<PostLink post={post} />
				</li>
			))}
		</ul>
		{page.lastPage > 1 ? (
			<Pagination length={page.lastPage}
				currentUrl={page.url.current}
				currentPage={page.currentPage}
				firstUrl={`/`}
				prevUrl={page.url.prev}
				nextUrl={page.url.next}
				lastUrl={`/${page.lastPage}`}
			/>
		) : null}
	</div>
</Layout>