---
import { getCollection } from "astro:content";
import Layout from "../layouts/Default.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TagList from "../components/TagList.astro";
import type {Post} from "../types";
import Prose from "../components/Prose.astro";
import SeriesLinks from "../components/SeriesLinks.astro";

interface Props {
    post: Post;
}
    
export const getStaticPaths = (async () => {
    const posts = await getCollection('blogPosts');
    return posts.map(post => ({
        params: {
            slug: post.data.slug
        },
        props: {
            post: post.data
        }
    }))
});

const { post } = Astro.props as Props;
 
if (!post) {
    return Astro.redirect('/404');
}

const ogImageUrl = new URL(`/open-graph/${post.slug}.png`, Astro.site)

---
<Layout title={post.title} description={post?.description} image={ogImageUrl.toString()}>
    <article class="w-full py-7 md:py-8">
        <FormattedDate date={post.published} class="text-sm text-slate-500 uppercase font-medium" />
        <h1 class="font-display text-4xl text-black font-extrabold mb-2 md:text-6xl md:leading-[1.1]">{post.title}</h1>
        <p class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg> {post.readingTime}</p>
        <TagList tags={post.tags} />
        {post.series && (<SeriesLinks series={post.series} currentSlug={post.id} class="relative mt-8" />)}
        <Prose content={post.content} />
        {post.series && (<SeriesLinks series={post.series} currentSlug={post.id} class="relative mt-8" />)}
    </article>
    <div class="py-12"> 
        <script 
            is:inline
            src="https://giscus.app/client.js"
            data-repo="mattbrailsford/mattbrailsford.dev"
            data-repo-id="R_kgDOMyW45A"
            data-mapping="number"
            data-term={post.number}
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async
        ></script>
    </div>
</Layout>