---
import { getCollection } from 'astro:content';
const posts = await getCollection('blogPosts');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head> 
	<body>
		<h1>Astro</h1>
		<ul>
			{posts.map(post => (
				<li>
					<a href={`/${post.data.slug}`}>{post.data.title}</a>
					<br />
					{post.data.tags.map(tag => (
						<text><a href={`tag/${tag}`}>{tag}</a> </text>
					))}
					<br />
					{post.data.series && (
						<text><a href={`series/${post.data.series}`}>{post.data.series}</a> </text>
						<br />
					)}
					{post.data.date}
					<br />
					<br />
				</li>
			))}
		</ul>
	</body>
</html>
