---
import { getCollection } from "astro:content";
import PostLink from "../../components/PostLink.astro";
import Layout from "../../layouts/Default.astro";
import {sortPostsPublishedDateDesc} from "../../utils";

interface Params {
    tag: string 
}

export  const getStaticPaths = (async () => {
    const posts = await getCollection('blogPosts');
    const tags = [...new Set(posts.flatMap(post => post.data.tags))];
    return tags.map(tag => ({
        params: {
            tag
        }
    }))
});

const { tag } = Astro.params as Params;
const posts = (await getCollection('blogPosts', (post) => post.data.tags.includes(tag)))
    .map(post => post.data)
    .sort(sortPostsPublishedDateDesc);
---
<Layout title={`${tag}`} description={`Posts tagged #${tag}`}>
    <div class="w-full py-7 md:py-8">
        <h1 class="font-display text-3xl text-black font-extrabold mb-8 md:text-6xl md:leading-[1.1] md:text-center"><span class="visibly-hidden">Posts tagged </span>#{tag}</h1>
        <ul>
            {posts.map(post => (
                <li class="py-7 border-b md:py-8">
                    <PostLink post={post} />
                </li>
            ))}
        </ul>
    </div>
</Layout>