---
import BaseHead from '../components/BaseHead.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
export type Props = { title: string; description?: string; image?: string, schema?: any, feed?:any };
const { title, description, image, schema, feed } = Astro.props;
---
<html lang="en">
<head>
    <BaseHead title={title} description={description} image={image} schema={schema} feed={feed} />
</head>
<body class="font-sans font-normal text-slate-700 tracking-normal">
    <Header />
    <main class="flex flex-col justify-between min-h-screen max-w-3xl mx-auto px-4">
        <slot />
    </main>
    <Footer />
    <script is:inline async defer src="https://scripts.withcabin.com/hello.js"></script>
</body>
</html>
